body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #aaa;
    height: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /* -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5); */
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.dropzone-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.dropzone {
    overflow: hidden;
    margin: .5em;
    /* padding: 1em; */
    color: #fff;
    text-align: center;
    background: #888;
    line-height: 4em;
    border: 4px dashed transparent;
    transition: background .15s linear, border-color .15s linear;
    font-size: 1.5em;
}

.dropzone.-drop-possible { border-color: #666; }

.dropzone.-drop-over {
    background: #666;
    color: #fff;
}

.draggable {
    font-size: 12px;
    position: relative;
    display: inline-block;
    z-index: 10;
    width: 30px;
    /* margin: .25em;
    padding: 1em 2em; */
    background-color: #fff;
    color: #000;
    text-align: center;

    -ms-touch-action: none;
        touch-action: none;
}

.draggable img {
    display: block;
}

.draggable.-drop-possible { background-color: #fff; }

.bar {
    height: 20px;
}

#draggable-wrapper {
    padding-top: 30px;
    text-align: center;
}

.draggable img {
    width: 30px;
    height: 30px;
}