{% extends "home.html" %}
{% block inner_body %}

<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active">
    <input type="radio" name="source" value="rd" autocomplete="off" checked> Val 2014-08
  </label>
  <label class="btn btn-default">
    <input type="radio" name="source" value="psu" autocomplete="off"> SCB PSU 2016-08
  </label>
  <label class="btn btn-default">
    <input type="radio" name="source" value="tns" autocomplete="off"> TNS-Sifo 2017-04
  </label>
</div>

<div id="draggable-wrapper">
<div id="c" class="draggable js-drag"><div class="bar"></div><img src="{{ url_for('static', filename='images/logo-c-large.jpg') }}" />C</div>
<div id="l" class="draggable js-drag"><div class="bar"></div><img src="{{ url_for('static', filename='images/logo-l-large.jpg') }}" />L</div>
<div id="m" class="draggable js-drag"><div class="bar"></div><img src="{{ url_for('static', filename='images/logo-m-large.jpg') }}" />M</div>
<div id="kd" class="draggable js-drag"><div class="bar"></div><img src="{{ url_for('static', filename='images/logo-kd-large.jpg') }}" />KD</div>
<div id="s" class="draggable js-drag"><div class="bar"></div><img src="{{ url_for('static', filename='images/logo-s-large.jpg') }}" />S</div>
<div id="v" class="draggable js-drag"><div class="bar"></div><img src="{{ url_for('static', filename='images/logo-v-large.jpg') }}" />V</div>
<div id="mp" class="draggable js-drag"><div class="bar"></div><img src="{{ url_for('static', filename='images/logo-mp-large.jpg') }}" />MP</div>
<div id="sd" class="draggable js-drag"><div class="bar"></div><img src="{{ url_for('static', filename='images/logo-sd-large.jpg') }}" />SD</div>
</div>

<div class="dropzone-wrapper">
    <div id="block1" class="dropzone js-drop">Ett block</div>
    <div id="block2" class="dropzone js-drop">Ett annat block</div>
</div>

{% endblock %}